.marginBottom10{
  margin-bottom: 10px;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.loading {
  display: flex;
  flex: 1;
  margin-top: 240px;
  align-items: center; 
  justify-Content: center;
}

.test{
  height: 100px;     
  overflow-y: auto;    
}